@page "/login"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Đăng nhập</PageTitle>

<link href="css/app.css" rel="stylesheet" />

<div class="container mt-4 p-0">
    <h1 class="page-title">Đăng nhập</h1>
    <div class="row px-md-4 px-2 py-4">
        <div class="col-lg-8">
            <EditForm Model="user" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <MudCard>
                    <MudCardContent>
                        <MudTextField Label="Email" @bind-Value="user.Email"
                                      For="@(() => user.Email)"></MudTextField>
                    </MudCardContent>
                    <MudCardContent>
                        <MudTextField Label="Mật khẩu" @bind-Value="user.Password"
                                      For="@(() => user.Password)"></MudTextField>
                    </MudCardContent>
                </MudCard>
                <div class="text-danger">
                    <span>@errorMessage</span>
                </div>
                <div class="mt-4">
                    <div> Bạn chưa có tài khoản ? </div>
                    <MudButton OnClick="PlaceRegister">
                        Đăng ký
                    </MudButton>
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Style="float: right;">
                        Đăng nhập
                    </MudButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>



@code {

    private UserLoginDTO user = new UserLoginDTO();

    private string errorMessage = string.Empty;

    private async Task PlaceRegister()
    {
        NavigationManager.NavigateTo("register");
    }

    private async Task HandleLogin()
    {
        Console.WriteLine("Login...");
    }
}