@page "/customer"

 <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Customer</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Customer</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header w-25">
                <button type="button" class="btn btn-block btn-outline-success">New</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>STT</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Date of birth</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Functions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>Pham Trung Kien
                    </td>
                    <td>Male</td>
                    <td>03/08/2003</td>
                    <td>0398204444</td>
                    <td>taikhoancuaban203@gmail.com</td>
                    <td>
                      <button type="button" class="btn btn-block btn-outline-danger w-75">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Do Huong Zaq
                    </td>
                    <td>Female</td>
                    <td>15/04/2004</td>
                    <td>0818150204</td>
                    <td>huonggiang.kacchan1504@gmail.com</td>
                    <td>
                      <button type="button" class="btn btn-block btn-outline-success">Success</button>
                    </td>
                  </tr>
                  </tbody>
                  @* <tfoot> *@
                  @* <tr> *@
                  @*   <th>Rendering engine</th> *@
                  @*   <th>Browser</th> *@
                  @*   <th>Platform(s)</th> *@
                  @*   <th>Engine version</th> *@
                  @*   <th>CSS grade</th> *@
                  @* </tr> *@
                  @* </tfoot> *@
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>