@page "/"
@using RadzenBook.Dashboard.Data.DTO
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using System.Text
@using System.Text.Json
@using System.Net.Http.Json


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form onsubmit="event.preventDefault(); return false;" class="form-signin">
                            <div class="mb-4">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control form-control-lg"
                                @bind="@loginRequest.Username" />
                            </div>

                            <div class="mb-4">
                                <label class="form-label" for="typePasswordX">Password</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                @bind="@loginRequest.Password" />
                            </div>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit" @onclick="HandleLogin">Login</button>
                        </form>

                        <div>
                            <p class="mb-0">
                                Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (loginError)
{
    <p class="text-danger">Tên đăng nhập hoặc mật khẩu không đúng.</p>
}
@code {
    private string accessToken;
    private string refreshToken;
    private LoginRequest loginRequest = new LoginRequest();
    private bool loginError = false;

    private async Task HandleLogin()
    {
        try
        {
            var json = JsonSerializer.Serialize(loginRequest);
            var content = new StringContent(json, Encoding.UTF8, "application/json");

            var response = await Http.PostAsync("https://localhost:5000/api/v2/auth/login", content);


            if (response.IsSuccessStatusCode)
            {
                var responseData = await response.Content.ReadFromJsonAsync<TokenResponse>();
                accessToken = responseData.AccessToken;
                refreshToken = responseData.RefreshToken;
                NavigationManager.NavigateTo("/index");
            }
            else
            {

                loginError = true;
            }
        }
        catch (Exception ex)
        {

            loginError = true;
        }
    }


    private async Task<bool> RefreshAccessToken()
    {
        try
        {
            var refreshContent = new StringContent(JsonSerializer.Serialize(new { refreshToken }), Encoding.UTF8, "application/json");
            var refreshResponse = await Http.PostAsync("https://localhost:5000/api/v2/auth/refresh", refreshContent);

            if (refreshResponse.IsSuccessStatusCode)
            {
                var refreshResponseData = await refreshResponse.Content.ReadFromJsonAsync<TokenResponse>();
                accessToken = refreshResponseData.AccessToken;
                refreshToken = refreshResponseData.RefreshToken;

                return true;
            }
            return false;
        }
        catch
        {
            return false;
        }
    }

    private async Task<HttpResponseMessage> MakeAuthorizedApiCall(string url)
    {
        var requestMessage = new HttpRequestMessage(HttpMethod.Get, url);
        requestMessage.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        var response = await Http.SendAsync(requestMessage);

        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            // Try to refresh the access token
            var isRefreshed = await RefreshAccessToken();
            if (isRefreshed)
            {
                requestMessage.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
                response = await Http.SendAsync(requestMessage);
            }
        }

        return response;
    }

    private class TokenResponse
    {
        public string AccessToken { get; set; }
        public string RefreshToken { get; set; }
    }
}
