<link href="css/Navbar.css" rel="stylesheet" />

<MudPaper Elevation="0">
    <MudToolBar Class="d-flex justify-space-around flex-grow-1 gap-3">
        <div style="display: flex; align-items: center;margin-left:100px">
            <MudLink Href="/" Color="Color.Error" Style="font-size:25px; text-decoration: none;">RadzenBook</MudLink>
           <SearchBar />
        </div>
        <div style="display: flex; align-items: center;margin-right:250px">
            <UserButton />
            <CartButton />
            <LanguageButton />
        </div>
    </MudToolBar>
</MudPaper>