@page "/products"

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-block btn-outline-success">Create</button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product code</th>
                                    <th>Product name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Author</th>
                                    <th>Create date</th>
                                    <th>Function</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SP001</td>
                                    <td>
                                        Jujusu kaisen 0 vol.1
                                    </td>
                                    <td>89</td>
                                    <td>60.000vnđ</td>
                                    <td>Gege Akutami</td>
                                    <td>15/11/2023</td>
                                    <td>
                                        <button type="button" class="btn btn-block btn-outline-success">Detail</button>
                                        <button type="button" class="btn btn-block btn-outline-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SP002</td>
                                    <td>
                                        Jujusu kaisen 0 vol.2
                                    </td>
                                    <td>89</td>
                                    <td>60.000vnđ</td>
                                    <td>Gege Akutami</td>
                                    <td>15/11/2023</td>
                                    <td>
                                        <button type="button" class="btn btn-block btn-outline-success">Detail</button>
                                        <button type="button" class="btn btn-block btn-outline-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SP003</td>
                                    <td>
                                        Jujusu kaisen 0 vol.3
                                    </td>
                                    <td>89</td>
                                    <td>60.000vnđ</td>
                                    <td>Gege Akutami</td>
                                    <td>15/11/2023</td>
                                    <td>
                                        <button type="button" class="btn btn-block btn-outline-success">Detail</button>
                                        <button type="button" class="btn btn-block btn-outline-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

