
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>RadzenBook  Page</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">RadzenBook Page</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Xin chào</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            Chào mừng bạn đến với RadzenBook, nơi tinh thần văn học và tri thức được thổi bùng lên qua từng trang sách. Chúng tôi tự hào là điểm đến cho những người yêu sách, nơi mà trải nghiệm đọc sách trở nên tươi mới và đầy sáng tạo.

            Tại RadzenBook, chúng tôi không chỉ cung cấp những tựa sách phổ biến nhất, mà còn mang đến cho bạn một thế giới của sự đa dạng với các thể loại từ kinh điển đến hiện đại, từ huyền bí đến khoa học. Bất kỳ cuốn sách nào bạn đang tìm kiếm, chúng tôi luôn sẵn lòng tư vấn và hỗ trợ bạn tìm thấy tác phẩm hoàn hảo.

            Với không gian ấm cúng và không khí thân thiện, cửa hàng của chúng tôi mong muốn trở thành điểm hẹn lý tưởng cho những người đam mê sách và mong muốn lan tỏa niềm đam mê với mọi người.

            Hãy đến và khám phá thế giới phong phú của chúng tôi tại RadzenBook - nơi mà mỗi quyển sách là một cánh cửa mở ra những phiêu lưu và tri thức mới!

            Hy vọng đoạn văn này sẽ giúp bạn giới thiệu cửa hàng bán sách RadzenBook một cách hấp dẫn và thú vị!

            
        </div>
        <div class="card-footer">
            Cảm ơn và Hẹn gặp lại
        </div>
    </div>

</section>
