<div class="step">
    <div class="step-sections" step="2">
        <div id="section-shipping-rate" class="section">
            <div class="order-checkout__loading--box">
                <div class="order-checkout__loading--circle"></div>
            </div>
            <div class="section-header">
                <h2 class="section-title">Phương thức vận chuyển</h2>
            </div>
            <div class="section-content">
                <div class="content-box">
                    <div class="content-box-row">
                        <div class="radio-wrapper">
                            <label class="radio-label" for="shipping_rate_id_1000020791">
                                <div class="radio-input">
                                    <input id="shipping_rate_id_1000020791"
                                           class="input-radio"
                                           type="radio"
                                           name="shipping_rate_id"
                                           value="1000020791"
                                           checked="" />
                                </div>
                                <span class="radio-label-primary">
                                    Vận chuyển đến các tỉnh thành phố khác Hà Nội và
                                    TP.HCM
                                </span>
                                <span class="radio-accessory content-box-emphasis">
                                    35,000₫
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="section-payment-method" class="section">
            <div class="order-checkout__loading--box">
                <div class="order-checkout__loading--circle"></div>
            </div>
            <div class="section-header">
                <h2 class="section-title">Phương thức thanh toán</h2>
            </div>
            <div class="section-content">
                <div class="content-box">
                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1002830518">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="1"
                                       id="payment_method_id_1002830518"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1002830518"
                                       checked="" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/cod.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Thanh toán khi giao hàng (COD)</span>
                                    <span class="quick-tagline hidden"></span>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1002911324">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="21"
                                       id="payment_method_id_1002911324"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1002911324" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/momo.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Ví MoMo</span>
                                    <span class="quick-tagline hidden"></span>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1002911338">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="22"
                                       id="payment_method_id_1002911338"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1002911338" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/zalopay.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Ví Zalopay bằng QRCode</span>
                                    <span class="quick-tagline hidden"></span>
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1002911340">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="24"
                                       id="payment_method_id_1002911340"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1002911340" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/zalopay.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Thẻ Visa/Master/JCB qua cổng ZaloPay</span>
                                    <span class="quick-tagline hidden"></span>

                                    <img class="child-img"
                                         src="https://hstatic.net/0/0/global/design/seller/image/payment/visa_master_jcb.svg?v=6" />
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1002911342">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="23"
                                       id="payment_method_id_1002911342"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1002911342" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/zalopay.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Thẻ ATM nội địa qua cổng ZaloPay</span>
                                    <span class="quick-tagline hidden"></span>

                                    <img class="child-img"
                                         src="https://hstatic.net/0/0/global/design/seller/image/payment/type_atm.svg?v=6" />
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="radio-wrapper content-box-row">
                        <label class="two-page" for="payment_method_id_1003013252">
                            <div class="radio-input payment-method-checkbox">
                                <input type-id="38"
                                       id="payment_method_id_1003013252"
                                       class="input-radio"
                                       name="payment_method_id"
                                       type="radio"
                                       value="1003013252" />
                            </div>

                            <div class="radio-content-input">
                                <img class="main-img"
                                     src="https://hstatic.net/0/0/global/design/seller/image/payment/shopeepay_new.svg?v=6" />
                                <div class="content-wrapper">
                                    <span class="radio-label-primary">Ví ShopeePay</span>
                                    <span class="quick-tagline hidden"></span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step-footer" id="step-footer-checkout">
        <form action="/checkouts/complete" id="checkout_complete" method="post">
            <input name="form_type" type="hidden" value="checkout" />
            <input name="utf8" type="hidden" value="✓" />
            <input name="masked_card_id" type="hidden" value="" />
            <input name="data_type" type="hidden" value="liquid" />
            <button type="submit" class="step-footer-continue-btn btn">
                <span class="btn-content">Đặt hàng</span>
                <i class="btn-spinner icon icon-button-spinner"></i>
            </button>

            <input name="__RequestVerificationToken"
                   type="hidden"
                   value="CfDJ8FyFPV59mBtNhmQGz0fYZt_UxbeciTkdNEdDo9XobfXzXKGQCVXYDkf9j3BxeWsrDpAV9EkgFNY33GQQogwK8IIWY-NYf3nO_ZMGF1dN1lQWdsrKlhktkf0adAtYaq51D9a_JPdJGTcHaZFI3PsrhY8" />
        </form>
        <a class="step-footer-previous-link" href="/cart"> Giỏ hàng </a>
    </div>
</div>