<MudMenu ActivationEvent="MouseEvent.LeftClick" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
    <ActivatorContent>
        <div style="display: flex; flex-direction: column;margin-left:30px">
            <MudIconButton Icon="@Icons.Material.Outlined.PeopleAlt" Color="Color.Inherit" />
            <span style="font-size:15px; margin-top: -10px;">Tài Khoản</span>
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Icon="@Icons.Material.Filled.Login" Href="/login">Đăng nhập</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.People" Href="/register">Đăng ký</MudMenuItem>
    </ChildContent>
</MudMenu>
